<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where Is Tutoring</title>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
</head>
<body class="container">
    <div class="single-article">
        <h1><a href="/">Where Is Tutoring?</a></h1>
        <p>Tutoring is in <i>{{ room }}</i></p>
    </div>
    <div>
        <a href="https://github.com/RedOctober117/where_is_tutoring_py" target="_blank"><img class="footer-image" src={{ url_for('static', filename='github-mark-white.png') }} alt="Git"></a>
    </div>
</body>
</html>