{% import 'templates.html.jinja' as forms %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='/favicon_io/apple-touch-icon.png') }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static', filename='/favicon_io/favicon-32x32.png') }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static', filename='/favicon_io/favicon-16x16.png') }}>
    <link rel="manifest" href={{ url_for('static', filename='/favicon_io/site.webmanifest') }}>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Room</title>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
</head>
<body class="form-container">
    <div class="form">
        <h1><a href="/">Where Is Tutoring?</a></h1>
        <h2>Select Room</h2>
        <div class="radio">
            <form method="POST">
                <ul>
                {%- for field in options %}
                    <li><p>{{ forms.radio_input(field)}} {{ field }} </p></li>
                {%- endfor %}
                </ul>
                <!-- {{ forms.radio_input('Select', type='submit', name='selection') }} -->
                <input type='submit', value='Select'>
                <!-- {{ forms.radio_input('Remove', type='submit', name='removal') }} -->
            </form>
        </div>
        <div class="text">
            <form method="POST">
                {{ forms.text_input('new_room')}}
                <input type='submit' value='Add'>
            </form>
        </div>
        <hr class="hr">
        <h2>Remove Room</h2>
        <div class="radio">
            <form method="POST">
                <ul>
                    {%- for field in options %}
                    <li><p>{{ forms.radio_input(field, name='removal')}} {{ field }} </p></li>
                    {%- endfor %}
                </ul>
                <!-- {{ forms.radio_input('Select', type='submit', name='selection') }} -->
                <input type='submit', value='Remove'>
                <!-- {{ forms.radio_input('Remove', type='submit', name='removal') }} -->
            </form>
        </div>
    </div>
    <div>
        <a href="https://github.com/RedOctober117/where_is_tutoring_py" target="_blank"><img class="footer-image" src={{ url_for('static', filename='github-mark-white.png') }} alt="Git"></a>
    </div>
</body>
</html>