{% import 'templates.html.jinja' as forms %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Room</title>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
</head>
<body class="container">
    <div class="single-article">
        <h1>Where Is Tutoring?</h1>
        <p>Tutoring is in...</p>
        <p class="radio">{{ forms.radio_query_form(options) }}</p>
    </div>
</body>
</html>