{% macro text_input(name, value='', type='text', size=20) -%}
    <input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" size="{{ size }}">
{%- endmacro %}



{% macro radio_input(value, name='selection', type='radio', size=20) -%}
    <input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" size="{{ size }}">
{%- endmacro %}



{% macro insertion_query_form(table) -%}
    <form>
        <ul>
        {%- for field in table %}
            <li><p>{{ field }} {{ text_input(field) }}</p></li>
        {%- endfor %}
        </ul>
        {{ text_input('submit', value='Submit', type='submit') }}
    </form>
{%- endmacro %}



{% macro radio_query_form(table) -%}
    <form>
        <ul>
        {%- for field in table %}
            <li><p>{{ radio_input(field)}} {{ field }} </p></li>
        {%- endfor %}
        </ul>
        {{ radio_input('submit', type='submit') }}
    </form>
{%- endmacro %}