:root {
    --bottom-layer: #2e3440;
    --second-layer: #3b4252;
    --text: #eceff4;
    --button-base: #b48ead;
    --button-border: #b48ead;
    --button-hover-base: #a3be8c;
    --button-hover-border: #a3be8c;
    --button-hover-font-color: #2e3440;
    --content-border: #b48ead;
    --content-border-radius: .5rem;
    /* --second-layer: #3b4252; */
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: var(--bottom-layer);
    /* THIS FIXES THE OVERFLOW ON THE SIDES. DO NOT ADD PADDING TO ANY OTHER THIRDS DIVS */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--bottom-layer);
    color: var(--text);
    margin: 0;
}

h1, h2, h3, h4 {
    color: var(--button-hover-base);
}

h1 {
    font-size: 5rem;
}

.container { 
    display: flexbox;
    justify-content: center;
    width: 100vw;
    text-align: center;
    /* font-size: 1rem; */
}

.form-container {
    justify-content: left;
    align-items:flex-start;
}

.form {
    padding: 2.5%;
}

.form ul {
    list-style: none;
    padding: 0;
}

.single-article {
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding: 25vh 0;
    border-radius: var(--content-border-radius);
    text-align: center;
}

.single-article p {
    padding: .25rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--text);
    /* list-style: none; */
}

.single-article i {
    font-size: 2.5rem;
    color: var(--button-base);
}

.radio {
    /* list-style-type: none; */
    justify-content: left;
    text-align: left;
}

.radio li {
    list-style-type: none;
}

.footer-image {
    width: 2rem;
    padding: 0;
    margin: 0;
}

@media (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
}


